x-swim-donut-chart {
  width: 100%;
  display: block;

  .chart {
    height: 100%;
    width: 100%;
    display: block;
  }

  text.c3-chart-arcs-title {
    font-size: 48px;
    fill: #709ed4;
  }

}